body,
html {
    height: 100%;
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
    color: #777;
}

.text2 {
    font-family: "Nanum Gothic", sans-serif;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("https://cvws.icloud-content.com/B/AVXTdJfoaPhtokUo7H_b7K-FNYVEAUn0Q4EGbsvb4q6v470UXg962XZq/img_parallax.jpg?o=AqX0FFDyFMb_PHgLsStTg_10b-gt9aeZkK_YmI3iIbH3&v=1&x=3&a=CAogQK33fj4Tj7XndqKx3yqOkbKtFIGKfYX2JJXHEPwjy4cSbRCroZG04S4Yy5jItOEuIgEAUgSFNYVEWgR62XZqaibolBVVIrFgybsEH0_kc6sttDQ3rDVTxf0oLQEh5yezipRINl1vaXIm8n7c762akOQn7F2xNpmNX6n5s6H283nLjX0XauJLNQOWHPeI2CI&e=1606696438&fl=&r=4e4b7146-854a-4ad0-afee-e590f6bda92f-1&k=8Uk4QSlgoFTQ2_M1sRvZdg&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=N2ymakAffyCIJIyDldsYHIy_hxU&cd=i");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("https://cvws.icloud-content.com/B/AU1wqZg7CjD7NfRrl8qDrqvRbOBAAaEFmvIQeRQ1SkviMX9HKknSK80_/img_parallax2.jpg?o=AvEVNcpVecnmRxkwEAN__Jbts4vZaShOTyLViPMVNQe9&v=1&x=3&a=CAogFEWM19F_adFTcmnGP9jnm8Kd6694h5w1i1ZMU9JSyGkSbRC4rJK04S4Y2KPJtOEuIgEAUgTRbOBAWgTSK80_aiZORZJpGJ3ZKFNTykZGDddxB_HDSaaGL1xPBP423fOGxSUrl_rVFXIm4Y_UqqQ4m-x8btSV39rK7q9qauBN9DZmeFF5onDeRpfqHGY4GTE&e=1606696456&fl=&r=eca60a8e-522f-4d89-8947-8bcd21e01873-1&k=nfyWIt8-hIItTbCWUolEHQ&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=d1eijbKKjsDcVs40LYu7piCbTl0&cd=i");
    min-height: 500px;
}

.bgimg-3 {
    background-image: url("https://cvws.icloud-content.com/B/ATVjywWUbk7WXMP1O1LBMp85slnGAfhmLZR4XdcxAK4DvY1w2R3vfBsI/img_parallax3.jpg?o=AhvhWdWP6DRIhPUzGOcsyzPhKUgO_Mig8EEnM14KWsi5&v=1&x=3&a=CAogb4MVGiDmQ8zzClXQzdLVdRxg88v4NHaZqMgomrxc6Z0SbRDQspO04S4Y8KnKtOEuIgEAUgQ5slnGWgTvfBsIaiYbnBUbQN0SukdrlNlkQTObJLjNOnCKvRIXBQ4u5f9F8m9H4io0tnImTwPNxc2I8eLTWDW0WQ7INcmJcfmsXGrWLL1_mOl6b0LV15kHe6E&e=1606696473&fl=&r=1ff68f12-6c77-46d2-aaf9-2c5349d0cb14-1&k=R2hzn3cyw7zpfJUCwUdC-w&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=0K1ScSROfpOP4zpLCir0Rqvvvv8&cd=i");
    min-height: 500px;
}

.bgimg-4 {
    background-image: url("https://cvws.icloud-content.com/B/ATgNpNy-fOg7pnvskQG-0nGibcA6ASiKDYCFytOMNjKSncajkNESb4Pw/img_parallax4.jpg?o=AoFgENyR6hTWCWTPbL57YlhrcdfPYhPGza1tTGg4odET&v=1&x=3&a=CAogtxjTsRLH3b3NEY0G62zV3EJ9WyXRW3gEbFNcCbxf8kESbRDkhJS04S4YhPzKtOEuIgEAUgSibcA6WgQSb4PwaiY72ODhKspHFDeWbxK_-t67KQ6P1LEEbNHEfxZqTbH6ehkPMKM3e3Im9m6-2FeyYkbGkUHAdv-oyZo48K8HSpTFecs9BjpNkGnBQUY0AQk&e=1606696484&fl=&r=4dbf8685-1055-4d0e-b798-9bbfbd435cee-1&k=7UmavuMQ48H-31geQXAwjw&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=L-2c5XS7MA08scC60Oxg5BxNycM&cd=i");
    min-height: 500px;
}

.bgimg-5 {
    background-image: url("https://cvws.icloud-content.com/B/AXbNFmHK_HuwkTgUXymMLLN2ZFCzAaMWMyFUyNdhYKaPvGi9qMUhv3rz/img_parallax5.jpg?o=Ak_Dki4Hj4I4NKQ8N_56GJ34ggrelOdzZm_NU-j0MEqg&v=1&x=3&a=CAogtyd4sbelKo2m-405Hdq_B0IT1XRBbqqUr5jm78EZye4SbRChmJW04S4YwY_MtOEuIgEAUgR2ZFCzWgQhv3rzaiaBicWFEGaToeAdTxzVvkx_fq4R3NPhH_RFPhApRsMYbKcUoaPsJHImob6IDyIDry5ZezIEzvEdyBmTecl-uwumfmMjFwQ8rlfK0aiO0Jg&e=1606696503&fl=&r=0a05ad27-88a3-43a2-a5ae-dfec0a99dca2-1&k=2vmDfYgJIhm35Dl2Q-cc7g&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=IR7YY2eds6xL-pCbpgx5iL6GlnQ&cd=i");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    border-radius: 1.5em;
    color: #fff;
    display: inline-block;
    line-height: 2em;
    padding: 18px;
    opacity: 0.6;
    letter-spacing: 10px;
}

.text-3 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 250%;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Nanum Gothic", sans-serif;
    color: #777;
    font-size: 25px;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

.background-1 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.text1 {
    text-align: center;
}

.border {
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
}

.between {
    position: relative;
}

.between-box {
    color: #ddd;
    background-color: #282e34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}
