/* font-family: 'Do Hyeon', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif; */

body {
    color: #555;
    background: #eeeeee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

.container_nav {
    display: inline-block;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
    font-family: "Jua", sans-serif;
    color: rgb(221, 221, 221);
}

h2 {
    font-family: "Nanum Gothic", sans-serif;
}

.tab_textbox {
    background-image: url("https://cvws.icloud-content.com/B/AfdPT0bcwn1d3MlbQ0BC7AcKsjNcAQVe5QA9TRU-gHvlEE7pTCRYGqJL/panorama2.jpg?o=Ag1N1b42v0fNWMfHZB2VIcLhHCrwZC4cxoarspYmU1Q1&v=1&x=3&a=CAogenYwzDNW5-R2vGm_qhfv-MPBeD8lcqJUx5iFQy9R8dASbRCWuI-04S4Ytq_GtOEuIgEAUgQKsjNcWgRYGqJLaibWu0dv5xTKrDDNwKuB7lRNxTSb2tDL9M9tkTie7LqRt0tEgSgBTnIm6ua5rm3djR9Q3YaITy-YNN7os8uVNiYUMtn3pt74YkAw7--BvkY&e=1606696409&fl=&r=ecacd8bb-74b6-4616-97cc-81bc130b6872-1&k=XHbACf_92SUWKUl8rMFFsQ&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=XNOBAYt4GgPhZSSntP3Yw-tTO9k&cd=i");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
    padding: 0 0 120px 0;
}

div.gallery {
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    border-radius: 20px;
}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: 20px;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 49.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    padding: 50px 0 0 0;
}

.nav {
    padding: 0 0 20px 0;
}

.margin_down {
    padding: 10px;
}

.Panel {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 0 0 20px 20px;
}

.Panel_up {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #007bff;
    border-radius: 20px 20px 0 0;
}

.Panel_up > h2 {
    color: white;
}

.footer_address {
    background-color: #ccc;
    padding: 20px;
}
