/* font-family: 'Do Hyeon', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif; */

body {
    color: #555;
    background: #eeeeee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

.container_nav {
    display: inline-block;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
    font-family: "Jua", sans-serif;
    color: rgb(221, 221, 221);
}

h2 {
    font-family: "Nanum Gothic", sans-serif;
}

.tab_textbox {
    background-image: url("/image/Buckwheat.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
    padding: 0 0 120px 0;
}

div.gallery {
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    border-radius: 20px;
}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: 20px;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 49.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    padding: 50px 0 0 0;
}

.nav {
    padding: 0 0 20px 0;
}

.margin_down {
    padding: 10px;
}

.Panel {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 0 0 20px 20px;
}

.Panel_up {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #007bff;
    border-radius: 20px 20px 0 0;
}

.Panel_up > h2 {
    color: white;
}

.footer_address {
    background-color: #ccc;
    padding: 20px;
}
