/* font-family: 'Do Hyeon', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif; */

body {
    color: #555;
    background: #eeeeee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
    font-family: "Jua", sans-serif;
    color: rgb(56, 56, 56);
}

h2 {
    font-family: "Jua", sans-serif;
}

h3 {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
}

.h3_hyperlink {
    color: #007bff;
}

.container_nav {
    display: inline-block;
}

.tab_textbox {
    background-image: url("https://cvws.icloud-content.com/B/Ac4Rw-uNdVLoij9cJE1wE_MD_EHIAbCgtHLPY3Ihi0x--e3rfI4YwnNd/panorama3.jpg?o=AitefjaOHrs8o0w54ouqm-HKyfrDFDm4XV5KYNRnRcUf&v=1&x=3&a=CAogez1b2WZ8eF4JpHctkDVqmT-5imnrfTIoi1n98fdfTT0SbRCd75q04S4YvebRtOEuIgEAUgQD_EHIWgQYwnNdaibe9pRaXOMiqGfvJlgPvOLi_q-34SLpSFb2O53LvpXGmlW6C1kM-nIml3Cfaj0YtrQgZOFAwAaTxHJVBZ-5SLyJQe6HVogPzHYStja2PRY&e=1606696596&fl=&r=61bd1ef1-9191-435f-8938-2c0da65e97a3-1&k=uUBsF-mLgP61OFJCMLd8OA&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=4FFfgNUolN6xxZpgCO51vHK-tfU&cd=i");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
    padding: 0 0 120px 0;
}

.Panel_up {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #007bff;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.Panel_up > h2 {
    color: white;
}

.Panel {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 0 0 20px 20px;
}

.Panel > p {
    text-align: center;
}

.Panel > ol {
    margin: 0 0 0 50px;
}

.Panel_h2 {
    text-align: center;
    color: red;
}

.Panel_left {
    padding: 20px 10px 10px 50px;
    width: 49%;
    float: left;
    overflow: hidden;
    line-height: 200%;
}

.Panel_right {
    border-left: 1px solid #ccc;
    padding: 30px 10px 10px 10px;
    width: 49%;
    overflow: hidden;
    display: inline-block;
    line-height: 200%;
    text-align: center;
}

.info {
    width: 100%;
    padding: 50px 15% 10px 15%;
    overflow: hidden;
    vertical-align: left;
}

.info_down {
    width: 100%;
    padding: 10px 15% 50px 15%;
    overflow: hidden;
    vertical-align: left;
}

.info_left {
    width: 49%;
    padding: 10px 0 10px 15%;
    overflow: hidden;
    vertical-align: top;
    float: left;
}

.info_right {
    width: 49%;
    padding: 10px 15% 10px 0;
    overflow: hidden;
    vertical-align: top;
    float: right;
}

.footer_address {
    background-color: #ccc;
    padding: 20px;
}

input {
    width: 200px;
}

input:hover {
    background: aliceblue;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    font-size: 120%;
}

input[type="button"] {
    background: #007bff;
    color: white;
    border-radius: 10px;
    margin: 0 0px 0 0px;
}
